/* add your styles here */
h1{
    color: rgb(165, 62, 62);
    text-align: center;
}
img{
    margin: 30px;
    width: 600px;
    height:450px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}